body{
  margin: 0px;
}
.logo_div{
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}
.logo{
  margin:0px;
  font-family: 'Bree Serif', serif;
  font-size: 4em;
  color: #1c263c;
}
.logo2{
  margin:0px;
  float: right;
  font-family: 'Satisfy', cursive;
  text-decoration-line: underline;
  text-decoration-color: #aeff32;
  font-size: 3em;
  color: #1c263c;
}
.menu{
  float:left;
  font-size: 2em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.menu ul li{
  margin-left: 60px;
}
.menu ul li a{
  text-decoration: none;
}
.footer img{
  width:100%;
}
.header img{
  width:100%;
}
ul{
  list-style-type: none;
}
.col1{
  font-family: 'Satisfy', cursive;
  font-size: 28px;
  background-color: #aeff32;
  color: #1c263c;
  padding: 10px;
  border-radius: 10px;
}
.col2{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.projects{
  text-align: center;
}
.projects h2{
  font-family: 'Satisfy', cursive;
  font-size: 4em;
  color: #1c263c;
  text-decoration-line: underline;
  
}
.proj_item div img{
  height: 200px;
  width: auto;
}
.footer{
  text-align: center;
  background-color:#aeff32;
  margin: 0px;
}

@media screen and (min-width: 480px) {
  .about{
    margin-left: 30px;
    display: flex;
    margin-left: 10%;
    margin-right: 20%;
  }   
  .col1{
    width:45%;
  }
  .col2{
    width:50%;
    margin-left: 5%;
    text-align: justify;
  }
  .menu ul{
    display:flex;
  }
  .projects div{
    display: flex;
    flex-direction: column; 
  }
}