body{
  margin: 0px;
  display:flex;
  flex-direction: column;
}
.logo_div{
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #F4D03F ;
  padding:20px;
  border-radius: 10px;
}
.logo{
  margin:0px;
  font-family: 'Bree Serif', serif;
  font-size: 4em;
  color: #1c263c;
}
.logo2{
  margin:0px;
  float: left;
  font-family: 'Satisfy', cursive;
  text-decoration-line: underline;
  text-decoration-color: #ff8000;
  font-size: 3em;
  color: #1c263c;
}
.menu{
  float:left;
  font-size: 2em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold; 
}
.header{
  
  margin-bottom: 20px;
}
.menu ul li{
  margin-left: 60px;
  
}
.menu ul li a{
  text-decoration: none;
  color: #1c263c;
}
.myphoto{
  width:50%;
  float: right;
}
.header img{
  width:50%;
}
ul{
  list-style-type: none;
}
.col1{
  font-family: 'Satisfy', cursive;
  font-size: 28px;
  background-color: #aeff32;
  color: #1c263c;
  padding: 10px;
  border-radius: 10px;
}
.col2{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
.col2 h2{
  text-decoration-line: underline;
  text-decoration-color: #ff8000;
}

.projects{
  text-align: center;
  font-family: 'Satisfy', cursive;
  background-color: rgba(255, 207, 117, 0.2);
}
.projects h2{
  font-size: 4em;
  color: #1c263c;
  text-decoration-line: underline;
}
.proj_item{
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}
.proj_desc{
  font-size: 25px;
}

.proj_item div img{
  height: 100px;
  width: auto;
  
}
.footer{
  text-align: center;
  background-color: #1c263c;
  margin: 0px;
  font-size: 15px;
  color: white;
}
.footer a{
  color: #aeff32;
}

@media screen and (min-width: 480px) {
  .about{
    margin-left: 30px;
    display: flex;
    margin-left: 10%;
    margin-right: 20%;
  }   
  .col1{
    width:45%;
  }
  .col2{
    width:50%;
    margin-left: 5%;
    text-align: justify;
  }
  .menu ul{
    display:flex;
  }
  .projects div{
    display: flex;
    flex-direction: column; 
  }
}